{% extends 'base.html' %}

<!-- Carregando tag para bootstrap em forms -->
{% load crispy_forms_tags %} 

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

    <!-- LIGHTBOX -->
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox2-master/src/css/lightbox.css' %}">


    <!-- TimeLine  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/demo.css' %}">

    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar/main.css' %}">


    <!-- Inline Element -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

{% endblock %}


{% block content %}
    <!-- Adicionar Arquivos -->

    <div class="div-files">
        <button id="button-files"  type="button" class="btn btn-custom" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="far fa-file" style="margin-left:12px"></i><i class="fas fa-plus" style="margin-left: 20px; font-size:25px"></i></button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar Arquivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formSub" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Formulário vai aqui -->

                    <input style="float:right;" type="submit" class="btn btn-primary" value="Submeter">  
                </form>
            </div>
            <div class="modal-footer">
                Aqui poderia ter uma previsualização dos arquivos submetidos
            </div>
        </div>
        </div>
    </div>  <!-- Fim do Adicionar Arquivos -->

    <!-- LISTAGEM DE ARQUIVOS EM TIMELINE -->

    <section class="cd-timeline js-cd-timeline">
        <div class="cd-timeline__container">
            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__content js-cd-content">
                    <!-- Formulário para realizar numa submissão na timeline... -->
                    
                    <form id="formSub2" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}


                        <h2><a href="#" id="subject">Disciplina</a></h2>
                        {{ submission_form.subject|as_crispy_field }}
                        <br>

                        <h3> <a href="#" id="topic">Assunto</a> </h3>
                        {{ submission_form.topic|as_crispy_field }}
                        <br>

                        <h2> <a href="#" id="date">Data</a> </h2>
                        {{ submission_form.class_date|as_crispy_field }}

                        <p><a href="#" id="description">Descrição da Aula</a></p>
                        {{ submission_form.description|as_crispy_field }}

                        {{ submission_form.files|as_crispy_field }}

                        <input style="float:right;" type="submit" class="btn btn-primary" value="Submeter">  
                    </form>
                    

                    <!-- <a href="#0" class="cd-timeline__read-more">Read more</a> -->
                    <span class="cd-timeline__date">{{submission.submission_date}}</span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            {% for submission in submissions|dictsort:"submission_date" %}
                <div class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__content js-cd-content"  data-toggle="collapse" data-target="#{{submission.id}}">

                        <h2>{{submission.subject.name}}</h2>
                        <br>
                        
                        <h3> {{submission.topic}} </h3>

                        <div class="collapse" id="{{submission.id}}">
                            <p>{{ submission.description }}</p>


                            {% for file in submission.files.all %}

                                <a href="{{MEDIA_URL}}{{file.file_image}}" data-lightbox="roadtrip">
                                    <img class="mt-3 ml-3 mr-3 mb-3 w-25" src="{{MEDIA_URL}}{{file.file_image}}">
                                </a>
                            
                            {% endfor %}
                        </div>

                        <!-- <a href="#0" class="cd-timeline__read-more">Read more</a> -->
                        <span class="cd-timeline__date">{{submission.submission_date}}</span>
                    </div> <!-- cd-timeline__content -->
                </div> <!-- cd-timeline__block -->
            {% endfor %}
        </div>
    </section>
  

    {% block javascript %}

        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

        <script src="{% static 'lightbox2-master/src/js/lightbox.js' %}"></script>

        <script src="{% static 'js/timeline/main.js' %}"></script>

        
        
        <!-- Código para exibir o popover e configurar a lightbox -->
        <script type="text/javascript">

            $(function () {
            $('[data-toggle="popover"]').popover()
            });

            lightbox.option({
                'resizeDuration': 10,
                'wrapAround': false
            });

            $(document).ready(function() {
                //toggle `popup` / `inline` mode
                $.fn.editable.defaults.mode = 'inline';     
                
                /*  Elementos Editáveis do Formulário..  */
                $('#subject').editable({
                    type:'select',
                    placement: 'right',
                    value: 1,

                    source:[
                    ]
                    
                });

                $('#topic').editable({
                    type:'text',
                    placement: 'right',
                    
                    url: "/post/"

                });

                $('#description').editable({
                    type:'text',
                    placement: 'right',
                    
                });
            });


            $("#id_subject").val("1");
            $("#id_topic").val("While e For");

            var now = new Date();

            $("#id_class_date").css("background-color", "black");

        </script>

    {% endblock %}


{% endblock %}
